<div class="row" style="padding:10px">
	<div class="col-md-5">
		<h4>Math's Activity: {{title}} </h4>
	</div>
	<div class="col-md-2"> <input type="button" value="Print this page" (click)="printPage()" /> </div>
	<div class="col-md-5"> Time: <strong> {{today}} </strong> </div>

</div>
<hr/>
<table>
	<tr>
		<td>
			<missing-number> </missing-number>
		</td>
		<td style="padding-left:50px">
			<order-number> </order-number>
		</td>
	</tr>
</table>
<br/><br/><br/><br/><br/><br/>
<table>
	<tr>
		<td>
			<addition-number> </addition-number>
		</td>
		<td style="padding-left:50px;">
			<subtract-number> </subtract-number>
		</td>
	</tr>
</table>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<table>
	<tr>
		<td>
			<odd-even-number> </odd-even-number>
		</td>
		<td style="padding-left:50px">
			<orderby-number> </orderby-number>
		</td>
	</tr>
</table>