/* You can add global styles to this file, and also import other style files */
.math-number{
    margin:3px;
    width:50px;
      border: 1px solid transparent;
  border-radius: 4px;
  color: #333;  
  border-color: #ccc;
}